<div style="border-radius: 1rem; padding: 1rem 2rem; background: white; box-shadow: 0 5px 10px rgba(0, 0, 0, .25)">
  <h2>Info Card</h2>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar pulvinar lorem. Donec leo massa, feugiat in ultrices vitae, hendrerit eget lorem. Maecenas nisl tellus, varius id venenatis in, viverra ultricies lacus. Fusce sodales enim ipsum, non porttitor magna pulvinar eget. In venenatis eget dui ut cursus. Ut sed velit risus. Fusce pulvinar aliquet orci sit amet vulputate. Quisque purus ligula, pharetra non rhoncus quis, iaculis vel elit. Integer vel leo orci. Aliquam vitae tortor faucibus, finibus libero et, fermentum purus. Etiam hendrerit ultrices augue vel venenatis. Integer eget pretium ligula, ac congue ipsum. Aliquam quis sem convallis, fringilla lorem in, egestas orci. Aliquam nec turpis odio. Mauris tempus dui elit, vitae venenatis velit pulvinar eget.</p>
</div>
